In [6]:
import pandas as pd
import mysql.connector

In [7]:
#CONECTANDO AO BANCO DE DADOS
con = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="cadastro_pessoas"
)

In [8]:
#CRIANDO UMA CONEX√ÉO
cursor = con.cursor()
if con.is_connected():
    print('Mysql connectado')

Mysql connectado

In [10]:
#TRAZENDO DADOS DO BANCO
query = ('SELECT id, nome, cpf, nascimento, sexo FROM cadastro')
df = pd.read_sql(query,con)
tabelapessoa = pd.DataFrame(df)
tabelapessoa

   id     nome            cpf  nascimento       sexo
0   2     alex    12556792710    16111987  Masculino
1   3  Juliana    11545939656  11-05-1985   Feminino
2   4     anna  1111122222333  11-11-1111  Masculino